*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Poppins",sans-serif;

    background:#f8fafc;

    color:#0f172a;

    overflow-x:hidden;

}

.app{

    display:flex;

}

.main-content{

    margin-left:280px;

    width:calc(100% - 280px);

    min-height:100vh;

}

section{

    width:100%;

}

img{

    max-width:100%;

    display:block;

}

button{

    cursor:pointer;

    font-family:inherit;

}

input,
textarea,
button{

    font-family:inherit;

}

a{

    text-decoration:none;

}

/* Scroll Bar */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#e2e8f0;

}

::-webkit-scrollbar-thumb{

    background:#2563eb;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#1d4ed8;

}

/* Selection */

::selection{

    background:#2563eb;

    color:white;

}

/* Responsive */

@media(max-width:992px){

.main-content{

margin-left:0;

width:100%;

}

}

@media(max-width:768px){

.main-content{

padding-top:70px;

}

}